@import "variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  transition: .3s;
}
img {
  max-width: 100%;
  vertical-align: middle;
}
ul {
  list-style: none;
}
.mx-auto{
  margin: 0 auto;
}

/* Background Image CSS */
.bg {
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 2;
  &:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: $black;
    opacity: 0.75;
    z-index: -1;
  }
}

/* Padding & Margin */ 
@for $i from 1 through 10{
  .pt-#{$i * 10}{
    padding-top: $i * 10px;
  }
  .pb-#{$i * 10}{
    padding-bottom: $i * 10px;
  }
  .mt-#{$i * 10}{
    margin-top: $i * 10px;
  }
  .mb-#{$i * 10}{
    margin-bottom: $i * 10px;
  }
}

/* Button CSS */
.btn {
  display: inline-block;
  color: #fff;
  font-size: 20px;
  text-transform: capitalize;
  line-height: 30px;
  border-radius: 3px;
  &.btn-primary {
    background-color: $btn_background;
    padding: 10px 30px;
    &:hover {
      background-color: $btn_hover;
    }
  }
  &.btn-border {
    border: 2px solid $btn_background;
    padding: 8px 30px;
    &:hover {
      background-color: $btn_hover;
      border-color: $btn_hover;
    }
  }
}

$align: left, center, right, justify;
@each $i in $align {
  .text-#{$i} {
    text-align: $i;
  }
}

/* Flex CSS */

$flex: flex, inline-flex;
@each $i in $flex {
  .d-#{$i} {
    display: $i;
  }
}

$justify: start, center, end, evenly, space-around, space-between;

@each $i in $justify {
  .justify-content-#{$i} {
    justify-content: $i;
  }
}

$align-items: start, center, end, stretch, baseline;

@each $i in $align-items {
  .align-items-#{$i} {
    align-items: $i;
  }
}
