/* Common Color */

$white: #fff;
$black: #333;
$gray: #eee;

/* Theme Color */
$primary_color: #ff3636;
$heading_color: #ff3636;
$link_color: #333;
$link_hover: #ff3636;
$border_color: #333;
$btn_background: #ff3636;
$btn_color: #fff;
$btn_hover: #333;
$bg-gray: #f6f6f6;
