@import 'section-title';
@import 'header';
@import 'banner';
@import 'about';
@import 'services';
@import 'projects';
@import 'counter';
@import 'timeline';
@import 'testimonials';
@import 'price';
@import 'team';
@import 'blog';
@import 'cta';
@import 'contact';