.contact-area{
    .contact-form{
        input, textarea{
            width: 100%;
            padding: 10px;
            border: 1px solid #f2f2f2;
            margin-bottom: 15px;
        }
        input[type="submit"]{
            background-color: $primary_color;
            color: $white;
            padding: 10px;
            font-size: 22px;
            text-transform: uppercase;
            font-weight: 500;
            cursor: pointer;
            transition: .3s;
            &:hover{
                background-color: $btn_hover;
            }
        }
    }
    
.single-contact {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    i {
        background-color: tomato;
        color: #fff;
        padding: 12px;
        border-radius: 50%;
        margin-right: 10px;
      }
    h4 {
        text-transform: uppercase;
        font-size: 20px;
        font-weight: 600;
        span {
            display: block;
            font-size: 16px;
            font-weight: 400;
            text-transform: lowercase;
            margin-top: 5px;
            &:last-child {
                margin-bottom: 0;
            }
        }
      }
    }
}
