.counter-area {
  background-color: #0f1113;
  color: $white;
  .single-counter {
    text-align: center;
    i {
      font-size: 20px;
      background-color: $primary_color;
      padding: 16px;
      margin-bottom: 18px;
    }
    h4 {
      font-size: 40px;
      line-height: 30px;
      font-weight: 700;
      margin-bottom: 10px;
    }
    p{
        text-transform: capitalize;
    }
  }
}
