.price-area {
  background-color: $gray;
  .single-price {
    text-align: center;
    background-color: #fff;
    padding: 30px 40px;
    &.active{
        border: 5px solid $primary_color;
    }
    span {
      display: block;
      text-transform: uppercase;
      font-size: 22px;
      font-weight: 700;
    }
    h4 {
      font-size: 50px;
      margin: 40px 0;
      font-weight: 800;
    }
    ul {
      margin-bottom: 30px;
      li {
        border-bottom: 1px solid #f2f2f2;
        padding-bottom: 10px;
        margin-bottom: 10px;
        font-size: 17px;
        &:last-child {
          border-bottom: 0;
          margin-bottom: 0;
          padding-bottom: 0;
        }
      }
    }
  }
}