.services-area {
  background-color: $bg-gray;
  .single-service {
    background-color: $white;
    padding: 25px 30px;
    margin-bottom: 50px;
    border: 1px solid $gray;
    &:hover {
      i {
        border-radius: 50%;
      }
    }
    i {
      font-size: 20px;
      background-color: $primary_color;
      color: $white;
      padding: 20px;
      transition: .3s;
    }
    h4 {
      font-size: 24px;
      margin: 15px 0;
      text-transform: capitalize;
    }
    p {
    }
  }
}
